<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>533096552324-9e5u4qdutpan233ib8bgge0ugllpukul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533096552324-9e5u4qdutpan233ib8bgge0ugllpukul</string>
	<key>API_KEY</key>
	<string>AIzaSyCr-9Q9xSkUOIfnkirVK9U0N_LWbOyMg4M</string>
	<key>GCM_SENDER_ID</key>
	<string>533096552324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Joseph.upcloud</string>
	<key>PROJECT_ID</key>
	<string>weatheroit</string>
	<key>STORAGE_BUCKET</key>
	<string>weatheroit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:533096552324:ios:cdcd1387e907958c</string>
	<key>DATABASE_URL</key>
	<string>https://weatheroit.firebaseio.com</string>
</dict>
</plist>
