<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Upcloud</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>linkedin</string>
		<string>behance</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location for the APP</string>
	<key>UIAppFonts</key>
	<array>
		<string>KaushanScript-Regular.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>location_icon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Curent Location</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Joseph.upcloud.Curent</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>bigBen</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>London - GB</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Joseph.upcloud.London</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>eiffel</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Paris - FR</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Joseph.upcloud.paris</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>pyramids</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Cairo - EG</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.Joseph.upcloud.cairo</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
